{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": {
          "loose": true
        }
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    // mobx decorator options
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@emotion/babel-plugin"]
  ]
}
